.footer {
    padding-bottom: 6.5rem;

    position: relative;
    &__title {
        font-family: var(--fontRel);
        font-size: 3.4rem;
        color: #000515;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 4.3rem;
        text-align: center;
    }

    &__list-anchor {
        display: flex;
        gap: 6rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 3.8rem;

        &-item {
            font-size: 2.2rem;
            color: #000;
            font-family: var(--fontJost);
            cursor: pointer;
        }
    }

    &__list-contact {
        display: flex;
        gap: 13.5rem;
        justify-content: center;
        align-items: center;

        &-item {
            display: flex;
            gap: 0.6rem;
            align-items: flex-start;

            &-img {
                width: 2.6rem;
            }

            &-title {
                font-size: 1.8rem;
                font-weight: 600;
                font-family: var(--fontJost);
                text-decoration: underline;
                padding-bottom: 2px;
            }

            &-subtitle {
                font-size: 1.5rem;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.2);
                font-family: var(--fontJost);
            }
        }
    }
    &__btn-mob {
        display: none;
    }
}


@media (max-width: 768px) {
    .footer {
        padding-bottom: 20px;
    
        &__title {
            font-size: 24px;
            padding-bottom: 18px;
            &::after {
                content: "";
                position: absolute;
                top: -20px;
                display: block;
                background: rgba(0, 0, 0, 0.2);
                left: 0;
                right: 0;
                height: 1px;
            }
        }
    
        &__list-anchor {
            gap: 26px;
            padding-bottom: 25px;
            &-item {
                font-size: 18px;
            }
        }
    
        &__list-contact {
            display: none;
        }
        &__btn-mob {
            display: block;
            text-align: center;
        }
    }
}