.intro {
  position: relative;
  height: 100svh;
  width: 100vw;
  overflow-x: hidden;
  // .intro__bg

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .intro__wrapper

  &__wrapper {
    width: 100%;
    height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
    position: relative;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 41px;
      padding: 40px 30px;
    }
  }

  // .intro__content

  &__content {
    // position: relative;
    // position: static;
    width: 100%;
    // padding-top: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    height: 100%;
    @media (max-width: 768px) {
      padding-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }
  }

  // .intro__title

  &__title {
    margin-bottom: 7px;
    @media (max-width: 768px) {
      margin-bottom: 21px;
      text-align: center;
    }
  }

  // .intro__title-text
  // --fontJost: "Jost", serif;
  // --fontRel: "Raleway", serif;

  &__title-text {
    font-family: var(--fontRel);
    font-weight: 600;
    font-size: 9.6rem;
    color: #fff;
    @media (max-width: 768px) {
      font-size: 50px;
    }
    @media (max-width: 388px) {
      font-size: 40px;
    }
  }

  // .intro__subtitle

  &__subtitle {
    // margin-bottom: 4rem;
    max-width: 71rem;
    @media (max-width: 768px) {
      max-width: 300px;
      // margin-bottom: 21px;
    }
  }

  // .intro__subtitle-text

  &__subtitle-text {
    font-family: var(--fontRel);
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.85);
    width: 100%;
    @media (max-width: 768px) {
      font-size: 16px;
      text-align: center;
    }
    @media (max-width: 388px) {
      font-size: 14px;
    }
  }

  // .intro__btn

  &__btn {
  }

  // .intro__items

  &__items {
    margin-top: 7.4rem;
    display: flex;
    align-items: center;
    gap: 7rem;
    @media (max-width: 768px) {
      position: static;
      gap: 35px;
      margin-top: 26px;
    }
    @media (max-width: 510px) {
      gap: 0px;
      justify-content: space-between;
      width: 100%;
    }
    @media (max-width: 426px) {
      // gap: 10px;
    }
    @media (max-width: 388px) {
      // gap: 15px;
    }
  }

  // .intro__item

  &__item {
  }

  &__item-line {
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 11.4rem;
    @media (max-width: 768px) {
      height: 70px;
    }
    @media (max-width: 388px) {
      height: 50px;
    }
  }

  // .intro__item-top

  &__item-top {
    margin-bottom: 10px;
    text-align: center;
  }

  // .intro__item-top-text

  &__item-top-text {
    font-family: var(--fontRel);
    font-weight: 400;
    font-size: 4.8rem;
    color: #fff;
    @media (max-width: 768px) {
      font-size: 28px;
    }
    @media (max-width: 388px) {
      font-size: 18px;
    }
  }

  // .intro__item-bot

  &__item-bot {
    text-align: center;
  }

  // .intro__item-bot-text

  &__item-bot-text {
    font-family: var(--fontJost);
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.8);
    @media (max-width: 768px) {
      font-size: 14px;
    }
    @media (max-width: 388px) {
      font-size: 10px;
    }
  }

  // .intro__from

  &__from {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 52.3rem;
    margin-right: 11.1rem;
    @media (max-width: 768px) {
      max-width: 523px;
      margin-right: 0;
      margin: 0 auto;
    }
  }

  // .intro__form-wrapper

  &__form-wrapper {
    // backdrop-filter: blur(10px);
    background: linear-gradient(
      82deg,
      rgba(233, 237, 245, 0.85) 0%,
      rgba(255, 255, 255, 0.85) 38.5%,
      rgba(255, 255, 255, 0.85) 50%,
      rgba(255, 255, 255, 0.85) 60%,
      rgba(251, 242, 228, 0.85) 100%
    );
    padding: 4.2rem 3rem;
    border-radius: 2.4rem;
    @media (max-width: 768px) {
      padding: 20px 15px;
      border-radius: 24px;
    }
  }

  // .intro__form-title

  &__form-title {
    font-family: var(--fontRel);
    font-weight: 600;
    font-size: 4.8rem;
    text-transform: capitalize;
    text-align: center;
    color: #000;
    @media (max-width: 768px) {
      font-size: 30px;
    }
    @media (max-width: 479px) {
      font-size: 28px;
    }

    &-desc {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &-mob {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }

  // .intro__form-text

  &__form-text {
    font-family: var(--fontJost);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 2.4rem;
    @media (max-width: 768px) {
      font-size: 18px;
      margin-top: 15px;
    }
    @media (max-width: 479px) {
      font-size: 14px;
    }
    &-desc {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &-mob {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }

  // .intro__form-from

  &__form-from {
    width: 100%;
    margin-top: 3rem;

    @media (max-width: 768px) {
      margin-top: 20px;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Убираем стрелки в Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }

  // .intro__form-input

  &__form-input {
    font-family: var(--fontJost);
    font-weight: 400;
    font-size: 2rem;
    color: rgba(0, 0, 0, 1);
    padding: 1.3rem 3.2rem;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    margin-bottom: 1.4rem;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #898989;

    @media (max-width: 768px) {
      font-size: 20px;
      padding: 11px 16px;
      border-radius: 24px;
      margin-bottom: 10px;
    }
    @media (max-width: 479px) {
      font-size: 14px;
      border-radius: 16px;
    }

    &::placeholder {
      font-family: var(--fontJost);
      font-weight: 400;
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.35);
      @media (max-width: 768px) {
        font-size: 20px;
      }
      @media (max-width: 479px) {
        font-size: 14px;
      }
    }
    &:focus,
    &:active {
      background: rgba(255, 255, 255, 0.7);
      border: 1px solid #1F1F1F;
    }
  }

  // .intro__form-btn

  &__form-btn__wrapper {
    margin-top: 1.4rem;
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
      margin-top: 14px;
      
    }
    @media (max-width: 479px){
      margin-top: 4px;
    }
  }

  // .intro__form-info

  &__form-info {
    font-family: var(--fontRel);
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
    @media (max-width: 768px) {
      display: none;
    }
  }

  // .intro__form-contact

  &__form-contact {
    margin-top: 1rem;
    font-family: var(--fontJost);
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #000;
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
