.social {
  display: block;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }

  .social__svg-dark {
    display: none;
  }
  .social__svg-white {
    display: none;
  }
  &.social-dark {
    .social__svg-dark {
      display: block;
    }
  }
  &.social-white {
    .social__svg-white {
      display: block;
    }
  }
}
