// rem sccs code
@use "sass:math";

@function rem($screen) {
  @return math.div(100vw, $screen) * 10;
}
html,
body {
  font-size: rem(1920);

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

//* для lenis

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
  overflow-y: scroll;
}
.lenis [data-lenis-prevent] {
  overscroll-behavior: contain;
  overflow-y: scroll;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background-color: var(--light-color);
  overflow-y: hidden;
  width: 100vw;
}

._container {
  padding: 0 14rem;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 768px) {
    padding: 0 30px;
  }
}
