:root {
  --vh: 100lvh;

  // Font Family
  --fontJost: "Jost", serif;
  --fontRel: "Raleway", serif;

  // Colors
  --light-color: #fff;
  --dark-color: #000;
  --orange-color: #f37c57;
  --grey-color: #757575;
  

}
