<footer class="footer">
    <div class="footer__left">
        <p class="footer__desc"><span class="footer__title">Obi Haoyt</span> - Восточное гостеприимство</p><br>
        <p class="footer__desc">Est - 2018.</p>
        <div class="footer__link">

            <a href="https://www.facebook.com/obihayotrest/">
                <img src="img/icons/facebook.png" alt="" class="contact__img phone">
            </a>
            <a href="https://t.me/Obi_hayot_123">
                <img src="img/icons/telegram.png" alt="" class="contact__img phone">
            </a>
            <a href="https://www.instagram.com/obi__hayot/">
                <img src="img/icons/instagram.png" alt="" class="contact__img phone">
            </a>
            <a href="tel:+998973508888">
                <img src="img/phone3.png" alt="" class="contact__img phone">
            </a>
        </div>
    </div>
    <div class="footer__right">
        <div class="location" id="">
            <img src="img/location.png" alt="" class="target__img">
            <div class="holder">
                <h3 class="footer__title">Мы находимся</h3>
                <p class="footer__desc">Ташкент, Ул. Джаркурганская, 4.</p>
            </div>
        </div>
        <div class="hours">
            <img src="img/time.png" alt="" class="target__img">
            <div class="holder">
                <h3 class="footer__title">Мы работаем</h3>
                <p class="footer__desc">12:00 - 23:00 | Без выходных</p>
            </div>
        </div>
    </div>
    <a href="https://t.me/Obi_hayot_123" class="fixed-wrap">
                <img src="img/icons/telegram.png" alt="" class="fixed">
    </a>
</footer>