<header class="header">
  <nav class="_container" >
    <div class="nav">
      <a href="#" class="header__logo">
        Obi Hayot
      </a>
      <ul class="header__list">
        <div class="header__list-right">
          
        <li class="header__list-item">
          <a href="#">
            Наша история
          </a>
        </li>
        <li class="header__list-item">
          <a href="#">
            Меню
          </a>
        </li>
        <li class="header__list-item">
          <a href="#">
            Галерея
          </a>
        </li>
        <li class="header__list-item">
          <a href="#">
            Локация
          </a>
        </li>
        </div>
        <div class="header__list-left">
          <a href="tel:+998973508888">Позвонить нам<br>+998 97 350 88 88</a>
        </div>
      </ul>
      <div class="header__mob-btn">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <div class="header__mob">
        
        <ul class="header__mob-list">
          <li class="header__mob-list-item">
            <a class="header__mob-list-item-link" href="#">Наша история</a>
          </li>
          <li class="header__mob-list-item">
            <a class="header__mob-list-item-link" href="#">Меню</a>
          </li>
          <li class="header__mob-list-item">
            <a class="header__mob-list-item-link" href="#">Галерея</a>
          </li>
          <li class="header__mob-list-item">
            <a class="header__mob-list-item-link" href="#">Локация</a>
          </li>
        </ul>

        <div class="header__mob-socials">
          <a href="#">
            <img class="header__mob-socials-img" src="img/icons/facebook.png" alt="">
          </a>
          <a href="#">
            <img class="header__mob-socials-img" src="img/icons/instagram.png" alt="">
          </a>
          <a href="#">
            <img class="header__mob-socials-img" src="img/icons/telegram.png" alt="">
          </a>
          <a href="#" style="background-color: black; border-radius: 12px;">
            <img class="header__mob-socials-img" src="img/phone3.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>