<header class="header">
  <nav class="_container" >
    <div class="nav">
      <a href="#" class="header__logo">
        Obi Hayot
      </a>
      <ul class="header__list">
        <div class="header__list-right">
          
        <li class="header__list-item">
          <a href="#history">
            Наша история
          </a>
        </li>
        <li class="header__list-item">
          <a href="#menu">
            Меню
          </a>
        </li>
        <li class="header__list-item">
          <a href="#gall">
            Галерея
          </a>
        </li>
        <li class="header__list-item">
          <a href="#loc">
            Локация
          </a>
        </li>
        </div>
        <div class="header__list-left">
          <a href="tel:+998973508888">Позвонить нам<br>+998 97 350 88 88</a>
        </div>
      </ul>
      <div class="header__mob-btn">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <div class="header__mob">
        
        <ul class="header__mob-list">
          <li class="header__mob-list-item">
            <a class="header__mob-list-item-link" href="#history">Наша история</a>
          </li>
          <li class="header__mob-list-item">
            <a class="header__mob-list-item-link" href="#menu">Меню</a>
          </li>
          <li class="header__mob-list-item">
            <a class="header__mob-list-item-link" href="#gall">Галерея</a>
          </li>
          <li class="header__mob-list-item">
            <a class="header__mob-list-item-link" href="#loc">Локация</a>
          </li>
        </ul>

        <div class="header__mob-socials">
          <a href="https://www.facebook.com/obihayotrest/">
            <img class="header__mob-socials-img" src="img/icons/facebook.png" alt="">
          </a>
          <a href="https://www.instagram.com/obi__hayot/">
            <img class="header__mob-socials-img" src="img/icons/instagram.png" alt="">
          </a>
          <a href="https://t.me/Obi_hayot_123">
            <img class="header__mob-socials-img" src="img/icons/telegram.png" alt="">
          </a>
          <a href="tel:+998973508888" style="background-color: black; border-radius: 12px;">
            <img class="header__mob-socials-img" src="img/phone3.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>