<header class="header">
  <div class="header__wrapper _container">
    <div class="header__content">
      <div class="header__left">
        <div class="header__menu">
          <button class="header__menu-btn">
            <div class="header__menu-btn-wrapper">
              <p class="header__menu-btn-close">Close</p>
              <p class="header__menu-btn-open">Menu</p>
            </div>
          </button>
          <div class="header__menu-navs-wrapper">
            <div class="header__menu-navs">
              <a data-scroll="intro-scroll" class="header__menu-nav menu-hover"
                ><p class="menu-hover-text">Home</p></a
              >
              <a data-scroll="about-scroll" class="header__menu-nav menu-hover"
                ><p class="menu-hover-text">About</p></a
              >
              <a data-scroll="invest-scroll" class="header__menu-nav menu-hover"
                ><p class="menu-hover-text">Investments</p>
              </a>
              <a
                data-scroll="developer-scroll"
                class="header__menu-nav menu-hover"
                ><p class="menu-hover-text">Location</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="header__center">
        <div class="header__logo">
          <img src="@img/header/header-logo.svg" alt="">
        </div>
      </div>
      <div class="header__right">
        <div class="header__social header__social-tg">
          @@include('./UI/tg.html',{'socialMode':'social-white','socialSize':'social-big'})
        </div>
        <div class="header__social header__social-wp">
          @@include('./UI/wp.html',{'socialMode':'social-white','socialSize':'social-big'})
        </div>
        <a
          href="#"
          class="header__social header__social-desc header__social-btn"
        >
          @@include('./UI/btn.html',{'btnText':'Contact Us','btnMode':'white','btnClass':'header-social-btn'})
        </a>
        <div class="header__social header__social-mob">
          @@include('./UI/call.html',{'socialMode':'social-white','socialSize':'social-big'})
        </div>
      </div>
    </div>
  </div>
</header>
