<div class="popup popup-all" id="main-popup">
  <div class="popup__wrapper">
    <div class="popup__left">
      <div class="popup__img-wrapper">
        <img class="popup__img" src="@img/popup/popup-img.webp" alt="" />
      </div>
    </div>
    <div class="popup__right">
      <div class="popup__from">
        <div class="popup__form-wrapper">
          <h2 class="popup__form-title">Reserve your Luxury spot today</h2>
          <p class="popup__form-text popup__form-text-desc">
            Get in touch with us to receive the latest updates on the
            development, available units, and exclusive opportunities.
          </p>
          <p class="popup__form-text popup__form-text-mob">
            Contact us to get updated information about the development and
            availabilities
          </p>

          <form data-gtag-submit="" class="popup__form-from" action="#">
            <div class="popup__form-input__wrapper">
              <input
                class="popup__form-input"
                placeholder="Your name"
                type="text"
                name="name"
                required
              />
            </div>
            <div class="popup__form-input__wrapper">
              <input
                class="popup__form-input"
                placeholder="Your e-mail"
                type="mail"
                name="email"
                required
              />
            </div>
            <div class="popup__form-input__wrapper">
              <input
                class="popup__form-input"
                placeholder="Phone number"
                type="tel"
                name="phone"
                required
              />
            </div>
            <div class="popup__form-btns__wrapper">
              <div class="popup__social popup__social-tg">
                @@include('./UI/tg.html',{'socialMode':'social-dark','socialSize':'social-big'})
              </div>
              <div class="popup__social popup__social-wp">
                @@include('./UI/wp.html',{'socialMode':'social-dark','socialSize':'social-big'})
              </div>
              <a href="#" class="popup__social popup__social-btn">
                @@include('./UI/btn.html',{'btnText':'Request','btnMode':'dark','btnClass':'popup-social-btn'})
              </a>
            </div>
          </form>
          <p class="popup__form-info">Call us now to get expert assistance!</p>
          <a class="phone-replace-only popup__form-contact">
            <span>+971 XX XXX-XX-XX</span>
          </a>
        </div>
      </div>
      <div class="popup__close close-popup">
        <svg
          width="26"
          height="26"
          viewBox="0 0 26 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M24.375 1.625L1.625 24.375M1.625 1.625L24.375 24.375"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
